@{
    ViewData["Title"] = "Colaborador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--start breadcrumb-->
<div class="page-breadcrumb d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Lista de Colaboradores</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0 align-items-center">
                <li class="breadcrumb-item active" aria-current="page" id="totalColaborador">0</li>
            </ol>
        </nav>
    </div>
    <div class="ms-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary" onclick="verColaborador()">Nuevo <i class="lni lni-plus"></i></button>
        </div>
    </div>
</div>
<!--end breadcrumb-->
<hr />
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="tableColaborador" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Correo Electrónico</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="modalColaborador" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="classModalColaborador">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lblModalColaborador"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="idColaborador" hidden />
                <form class="row g-3 needs-validation" id="formColaborador" novalidate method="post">
                    <div class="col-md-6">
                        <label class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="nombreColaborador" name="nombreColaborador" required>
                        <div class="invalid-feedback">Es un campo obligatorio</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Apellido Paterno</label>
                        <input type="text" class="form-control" id="paternoColaborador" name="paternoColaborador" required>
                        <div class="invalid-feedback">Es un campo obligatorio</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Apellido Materno</label>
                        <input type="text" class="form-control" id="maternoColaborador" name="maternoColaborador" required>
                        <div class="invalid-feedback">Es un campo obligatorio</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Correo</label>
                        <input type="email" class="form-control" id="correoColaborador" name="correoColaborador" required>
                        <div class="invalid-feedback">Ingrese un email correcto</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" onclick="addColaborador()" id="btnAddColaborador">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/colaborador.js"></script>